@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background: #898B87;
}
h1{
    font-size: 3rem;
    color: white;
}
span{
    font-size: 4rem;
    font-weight: bold;
}
.container{
    border: solid 1rem black;

}